.custom-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        display: block;
        max-height:37px;
        width: auto;
        height: auto;
    }
}