.section__gallery__wrapper{
  @include s-y-5xl(padding);
  @include row; 
  .swiper {
      width: 100%;
      height: 400px;
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      }
    }
    
}