.section__text-form__wrapper {
    @include s-y-5xl(padding);
    @include row;
    justify-content: space-between;
    //align-items: center;

    &.row-reverse {
        flex-direction: row-reverse;

        @include media-breakpoint-down(md) {
            flex-direction: column-reverse;
        }
    }

    @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
    }

    &__column-text{
        @include col-8;

        @include media-breakpoint-down(md) {
            @include col-12;
        }//
    }
    &__column-form {
        @include col-4;

        @include media-breakpoint-down(md) {
            @include col-12;
        }
    }

    .column-text-wrap {
        &__text {
            .field--name-field-p-tm-text {
                @include s-bottom-3xl(margin);
            }
        }

        &__cta {
            .field--name-field-p-tm-cta {
                @include flex();
                flex-wrap: wrap;

                a {
                    @include btn-secondary;
                }
            }
        }
    }
}
