footer {
    position: relative;
    color: $secondary1;

    p {
        margin-bottom: 0px;
        @include p-s;
    }

    .footer__wrapper {
        @include s-top-lg(padding);
        @include s-bottom-lg(padding);
        @include row;
        &__logo,&__contacts{
            @include col-6;
        }


        &__logo {
            a {
                display: inline-block;

                img {
                    height: 30px;
                    width: 100%;
                }
            }
        }

        &__contacts {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            p{
                display: inline;
            }
        }
        &__social {
            align-items: center;
            justify-content: space-evenly !important;
        }
    }
}
