// Define color variables
$primary-color: #785013;
$secondary-color: #494033;
$terdiary-color: #EDE1D0;
$four-color: #CAB089;
$five-color: #E39D5D;

$black-color: #252525;
$grey-color:#817F7F;
$white-color: #fafafa;
